{% extends 'base.html.twig' %}

{% block title %}les offres {% endblock %}

{% block body %}
<section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row" id="page-contents">

                        <div class="offset-lg-1 col-lg-10">
                            <div class="career-page">
                                <div class="carrer-title">
                                    <h2>Open Offres </h2>

                                </div>

                                <div class="row">


{% for os in off %}





     <div class="col-lg-4 col-sm-6">
                                        <div class="open-position">
                                            <h4>{{os.titre }}</h4>
                                          <p style="color:green;" > Publié le {{os.createdAt |date('d/m/Y')}} </p>
       <p style="color:red;" > max le {{os.update_at |date('d/m/Y')}} </p>
          
    <p > {{os.contenu | raw}} </p>              </div>
                                    </div>

{% endfor %}



                                  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
























{% endblock %}
