{% extends 'base.html.twig' %}
{% block body %} 

<section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row" id="page-contents">

                        <div class="offset-lg-1 col-lg-10">
                            <div class="career-page">
                                <div class="carrer-title">
                                    <h2>Open Offres </h2>

                                </div>

                                <div class="row">
    <div class="col-lg-4 col-sm-6">
                                        <div class="open-position">
{{form(f)}}
    </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}